<ion-view class="gallery">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-gallery-black.png">
    </div>
    <ion-content ng-controller="GaleriaController as vm">
        <div ng-repeat="galeria in vm.galeria">
            <div class="list list-inset">
                <a class="item item-thumbnail-left" href="#/app/galeria-detalle/{{::galeria.id}}">
                    <img ng-src="{{::galeria.better_featured_image.media_details.sizes.thumbnail.source_url}}">
                    <h2><div ng-bind-html="::galeria.title.rendered"></div></h2>
                    <div ng-bind-html="::galeria.excerpt.rendered"></div>
                    <span class="arrow"><img src="images/arrow.png"></span>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
