<ion-view class="gallery">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-gallery-black.png">
    </div>
    <ion-content ng-controller="GaleriaDetalleController as vm">
        <div class="gallery-content list-inset">
            <h2><div ng-bind-html="::vm.gallery.title.rendered"></div></h2>
            <div ng-bind-html="vm.gallery.content.rendered"></div>
            <br class="clear">
            <button class="button button-block" onclick="window.open('https://www.facebook.com/LexfaMexico/photos', '_system', 'location=yes'); return false;">
                Ver galería completa...
            </button>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
