<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-light">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-content>
            <img class="logo-menu" src="images/logo-menu.png">
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    Inicio
                </ion-item>
                <ion-item menu-close href="#/app/noticias">
                    Noticias
                </ion-item>
                <ion-item menu-close href="#/app/calendario-home">
                    Calendario
                </ion-item>
                <ion-item menu-close href="#/app/estadisticas-home">
                    Estadísticas
                </ion-item>
                <ion-item menu-close href="#/app/roster-home">
                    Roster
                </ion-item>
                <ion-item menu-close href="#/app/galeria">
                    Fotos
                </ion-item>
            </ion-list>
            <div class="cheerleader">
                <img src="images/girl.png">
            </div>
            <div class="social-media">
                <a href="javascript:void(0)" onclick="window.open('https://www.facebook.com/LexfaMexico', '_system', 'location=yes'); return false;"><img src="images/icon-facebook.png"></a>
                <a href="javascript:void(0)" onclick="window.open('https://twitter.com/lexfa', '_system', 'location=yes'); return false;"><img src="images/icon-twitter.png"></a>
                <a href="javascript:void(0)" onclick="window.open('https://vimeo.com/lexfa', '_system', 'location=yes'); return false;"><img src="images/icon-vimeo.png"></a>
                <a href="javascript:void(0)" onclick="window.open('https://www.instagram.com/lexfamx/', '_system', 'location=yes'); return false;"><img src="images/icon-instagram.png"></a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
