<ion-view class="news">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-news-black.png">
    </div>
    <ion-content ng-controller="NoticiasController as vm">
        <div ng-repeat="noticia in vm.noticias">
            <div class="list list-inset">
                <a class="item item-thumbnail-left" href="#/app/noticias-detalle/{{::noticia.id}}">
                    <img ng-src="{{::noticia.better_featured_image.media_details.sizes.thumbnail.source_url}}">
                    <h2><div ng-bind-html="::noticia.title.rendered"></div></h2>
                    <div ng-bind-html="::noticia.excerpt.rendered"></div>
                    <span class="arrow"><img src="images/arrow.png"></span>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>