<ion-view class="news-detail">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-news-black.png">
    </div>
    <ion-content ng-controller="NoticiaDetalleController as vm">
        <img ng-src="{{::vm.noticia.better_featured_image.source_url}}">
        <div class="news-content list-inset">
            <h2><div ng-bind-html="::vm.noticia.title.rendered"></div></h2>
            <div ng-bind-html="::vm.noticia.content.rendered"></div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>