/*///////////////////////// General Document Styles /////////////////////////*/
@font-face {
    font-family: "Abel";
    src: url('../fonts/Abel-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
body, 
.ionic-body {
	font-family: 			"Abel", sans-serif;
	color:					#fff;
}
img{
	max-width: 					100%;
	height:  					auto;
}
.pane{
	background:  				url(../images/bg-general.jpg) no-repeat center center fixed;
  	-webkit-background-size: 	cover;
  	-moz-background-size: 		cover;
  	-o-background-size: 		cover;
  	background-size: 			cover;
}
.clear{
	clear: 						both;
}

/*///////////////////////// Menu Styles /////////////////////////*/
.menu{
	color: 						#fff;
	background:  				url(../images/bg-menu.jpg) no-repeat center center fixed;
  	-webkit-background-size: 	cover;
  	-moz-background-size: 		cover;
  	-o-background-size: 		cover;
  	background-size: 			cover;
}
.menu .scroll-content{
	margin-bottom: 			0;
}
	.logo-menu{
		margin: 					25px auto 15px;
		display:  					block;
		max-width:  				80px;
	}
	.menu .list{
		margin: 					0 15px;
	}
		.menu .item,
		.menu .item-complex .item-content, 
		.menu .item-radio .item-content{
			background:  				none;
			color:  					#fff;
			border: 					none;
			font-size:  				24px;
		}
		.menu .item{
			border-bottom:  			1px solid #fff;
		}
	.menu h2{
		color: 							#fff;
		text-align: 					center;
		font-size: 						30px;
		font-weight: 					normal;
	}
	.menu .social-media{
		text-align:  					right;
		position:  						absolute;
		right:  						60px;
		top:  							390px;
		z-index: 						9;
	}
		.menu .social-media a{
			display:  					block;
			margin: 					10px 5px;
		}
		.menu .social-media a img{
			max-width: 					44px;
		}
.menu .cheerleader{
	bottom: 				0;
	overflow: 				hidden;
	z-index: 				0;
}
	.menu .cheerleader img{
		position:  				absolute;
		top: 					220px;
		width:  				130%;
		max-width:  			130%;
		z-index: 				0;
	}

/*///////////////////////// Header Styles /////////////////////////*/
.bar.bar-light{
	background:  			none;
}
	.bar.bar-light .button.button-icon.button-clear.ion-navicon{
		color:  			#fff;
	}

/*///////////////////////// Home Styles /////////////////////////*/
.home .scroll-content{
	margin-top:  			-44px;
}
.scroll-content{
	margin-bottom: 			55px;
}
.main-logo{
	display:  				block;
	margin: 				30px auto 20px;
	max-width: 				120px;
}
.list-inset{
	background:  			none;
}
	.home .item-thumbnail-left > img:first-child, 
	.home .item-thumbnail-left .item-image, 
	.home .item-thumbnail-left .item-content > img:first-child, 
	.home .item-thumbnail-left .item-content .item-image{
		max-width:  			60px;
		height:  				auto;
	}
	.btn-statistics > img{
		margin-top:  			10px;
	}
	.home .item-thumbnail-left, 
	.home .item-thumbnail-left .item-content{
		min-height:  			80px;
	}
	.home .list .item{
		border: 				none;
		color:  				#fff;
		position:  				relative;
	}
	.home .arrow{
		position:  				absolute;
		right: 					10px;
		top:  					50%;
		margin-top:  			-8px;
	}
		.home .arrow img{
			width:  				10px;
		}
	.home .item h2{
		color:  				#fff;
		font-size: 				20px;
		margin-top: 			20px
	}
	.home .list .item:nth-child(even){
		background: 			rgba(0,0,0,.8);
	}
	.home .list .item:nth-child(odd){
		background: 			rgba(0,0,0,.5);
	}

/*///////////////////////// Inside Styles /////////////////////////*/
.bar-inside{
	background:  				rgba(255, 255, 255, .8);
	border-bottom:  			1px solid #848586;
}
.logo-small{
	margin-top: 				10px;
	width:  					50px;
}
.icon-section{
	width: 						49px;
	height:  					auto;
	position:  					absolute;
	right:  					10px;
	top:  						-5px;
}
.bar.bar-subheader{
	color:  					#fff;
	margin-top: 				-1px;
	text-shadow: 				-1px 1px 3px #000;
	border-bottom: 				2px solid #686868;
	border-top:  				1px solid #bababa;
	background: 				rgb(127,127,127); /* Old browsers */
	background:                 -webkit-linear-gradient(rgba(127,127,127,1) 0%, rgba(69,69,69,1) 100%);
	background:                 -o-linear-gradient(rgba(127,127,127,1) 0%, rgba(69,69,69,1) 100%);
	background:                 linear-gradient(rgba(127,127,127,1) 0%, rgba(69,69,69,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:                     progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f7f7f', endColorstr='#454545',GradientType=0 ); /* IE6-9 */
}		
.bar.bar-subheader h2{
	color: 					#fff;
	font-family: 			"Abel", sans-serif;
	font-size: 				20px;
}

/*///////////////////////// Roster Styles /////////////////////////*/
.roster .scroll-content{
	margin-top:  			75px;
}
	.roster .item-thumbnail-left > img:first-child, 
	.roster .item-thumbnail-left .item-image, 
	.roster .item-thumbnail-left .item-content > img:first-child, 
	.roster .item-thumbnail-left .item-content .item-image{
		max-width:  			60px;
		height:  				auto;
	}
	.roster .item-thumbnail-left, 
	.roster .item-thumbnail-left .item-content{
		min-height:  			80px;
	}
	.roster .list .item{
		border: 				none;
		color:  				#fff;
		position:  				relative;
		margin-bottom: 			10px;
		margin-right:  			10px;
		min-height:  			65px;
	}
		.roster .list .item > img{    
			height: 			auto;
		    margin-left: 		-10px;
		    margin-top:  		-10px;
		    max-width: 			150px;
		}
		.roster .list .item h2 {
		}
	.roster .arrow{
		position:  				absolute;
		right: 					10px;
		top:  					50%;
		margin-top:  			-8px;
	}
		.roster .arrow img{
			width:  				10px;
		}
	.roster .item h2{
		color:  				#fff;
		text-transform: 		uppercase;
		font-size: 				18px;
		margin: 				12px 0 2px 50px;
		font-family: 			"Abel", sans-serif;
	}
	.roster .list .item:nth-child(even){
		background: 			rgba(0,0,0,.8);
	}
	.roster .list .item:nth-child(odd){
		background: 			rgba(0,0,0,.5);
	}
.roster-content{
	background:  				rgba(255, 255, 255, .8);
	padding: 					10px;
	color:  					#000;
	font-size: 					16px;
	margin-top:  				-5px;
	border-radius:  			0;
}
	.roster-content h2{
		font-size:  			20px;
		font-family: 			"Abel", sans-serif;
	}
.roster-header{
	margin: 					0;
}
.roster-detail .list-indent img {
    display: 					block;
    margin: 					20px auto;
    max-width: 					80%;
}
.roster-detail .list-indent img.roster-header{
	margin: 					20px 0 0;
	max-width:  				100%;
	width:  					100%;
}

/*///////////////////////// Calendar Styles /////////////////////////*/
.calendar img{
	margin-bottom: 				10px;
}
.calendar .has-header{
	margin-top: 				60px;
}
.list-calendar{
	width: 						31%;
	margin: 					0 1% 10px !important;
	background:  				rgba(0, 0, 0, .5);
	float:  					left;
}
	.list-calendar a{
		text-decoration:  		none;
		text-align: 			center;
		font-size:  			12px;
		color:  				#8b8b8b;
		display: 				block;
		padding: 				10px 0 20px;
	}
		.list-calendar a span{
			font-size:  			60px;
			color:  				#fff;
			display:  				block;
			clear: 					both;
			line-height:  			60px;
		}

/*///////////////////////// Statistics Styles /////////////////////////*/
.statistics img{
	margin-bottom: 				10px;
}
.statistics .has-header{
	margin-top: 				60px;
}

/*///////////////////////// News Styles /////////////////////////*/
.news .scroll-content{
	margin-top:  			10px;
}
	.news .item-thumbnail-left > img:first-child, 
	.news .item-thumbnail-left .item-image, 
	.news .item-thumbnail-left .item-content > img:first-child, 
	.news .item-thumbnail-left .item-content .item-image{
		max-width:  			60px;
		height:  				auto;
	}
	.news .item-thumbnail-left, 
	.news .item-thumbnail-left .item-content{
		min-height:  			80px;
	}
	.news .list .item{
		border: 				none;
		color:  				#fff;
		position:  				relative;
	}
		.news .list .item > img{    
			height: 			auto;
		    margin-left: 		-20px;
		    margin-top: 		-10px;
		    max-width: 			105px;
		}
	.news .arrow{
		position:  				absolute;
		right: 					10px;
		top:  					50%;
		margin-top:  			-8px;
	}
		.news .arrow img{
			width:  				10px;
		}
	.news .item h2{
		color:  				#fff;
		font-size: 				18px;
		margin-top: 			10px
	}
	.news .list .item:nth-child(even){
		background: 			rgba(0,0,0,.8);
	}
	.news .list .item:nth-child(odd){
		background: 			rgba(0,0,0,.5);
	}
.news-content h2{
	color: 						#fff;
}

/*///////////////////////// Gallery Styles /////////////////////////*/
.gallery .gallery-content .has-header{
	top:  						80px;
}

.gallery .item-thumbnail-left > img:first-child, 
	.gallery .item-thumbnail-left .item-image, 
	.gallery .item-thumbnail-left .item-content > img:first-child, 
	.gallery .item-thumbnail-left .item-content .item-image{
		max-width:  			60px;
		height:  				auto;
	}
	.gallery .item-thumbnail-left, 
	.gallery .item-thumbnail-left .item-content{
		min-height:  			80px;
	}
	.gallery .list .item{
		border: 				none;
		color:  				#fff;
		position:  				relative;
	}
		.gallery .list .item > img{    
			height: 			auto;
		    margin-left: 		-20px;
		    margin-top: 		-10px;
		    max-width: 			105px;
		}
	.gallery .arrow{
		position:  				absolute;
		right: 					10px;
		top:  					50%;
		margin-top:  			-8px;
	}
		.gallery .arrow img{
			width:  				10px;
		}
	.gallery .item h2{
		color:  				#fff;
		font-size: 				16px;
		margin-top: 			22px
	}
	.gallery .list .item:nth-child(even){
		background: 			rgba(0,0,0,.8);
	}
	.gallery .list .item:nth-child(odd){
		background: 			rgba(0,0,0,.5);
	}
.gallery-content h2{
	color: 						#fff;
}
	.gallery .gallery-content img{
		margin: 					10px 1% 0;
		border: 					1px solid #80b67e;
		float:  					left;
		width: 						31%;
	}
	.gallery-overlay{
		position:  					fixed;
		background:  				rgba(0, 0 ,0, .7);
		z-index:  					999999999;
		top:  						0;
		bottom: 					0;
		left: 						0;
		right:  					0;
	}
		.gallery-overlay-inner{
			margin-top: 			120px;
			position:  				relative;
		}
			.gallery-overlay-inner a{
				display:  			block;
				position:  			absolute;
				width: 				30px;
				height:  			30px;
				padding-top:  		5px;
				background: 		#5d9255;
				color:  			#fff;
				text-decoration: 	none;
				right:  			20px;
				top:  				-15px;
				border-radius: 		40px;
				font-weight:  		bold;
				text-align:  		center;
			}
			.gallery-overlay-inner img{
				width: 				90%;
				display:  			block;
				margin: 			0 auto;
				height:  			auto;
			}
	.gallery-content .button{
		border-radius:  			0;
		color:  					#fff;
		background: 				#57a43f;
		margin-top: 				20px;
	}

/*///////////////////////// Footer Styles /////////////////////////*/
.bar-footer{
	height:  			58px;
	background:  		url(../images/bg-footer.png) repeat-x top center;
}







