<ion-view class="home">
    <ion-content>
        <img src="images/logo.png" class="main-logo">
        <div class="list list-inset">
            <a class="item item-thumbnail-left" href="#/app/noticias">
                <img src="images/icon-news.png">
                <h2>Noticias</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
            <a class="item item-thumbnail-left" href="#/app/calendario-home">
                <img src="images/icon-calendar.png">
                <h2>Calendario</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
            <a class="item item-thumbnail-left btn-statistics" href="#/app/estadisticas-home">
                <img src="images/icon-statistics.png">
                <h2>Estadísticas</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
            <a class="item item-thumbnail-left" href="#/app/roster-home">
                <img src="images/icon-roster.png">
                <h2>Roster</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
            <a class="item item-thumbnail-left" href="#/app/galeria">
                <img src="images/icon-photo.png">
                <h2>Fotos</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
           
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
