<ion-view class="roster-detail">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-roster-black.png">
    </div>
    <ion-content ng-controller="RosterDetalleController as vm">
        <div class="list-indent">
            <div ng-bind-html="::vm.roster.content.rendered"></div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>