<ion-view class="roster">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-roster-black.png">
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">Torneo 2017</h2>
    </div>
    <ion-content ng-controller="RosterSeniorController as vm">
        <div ng-repeat="team in vm.roster">
            <div class="list list-inset">
                <a class="item item-thumbnail-left" href="#/app/roster-detalle/{{::team.id}}">
                    <img ng-src="{{::team.better_featured_image.source_url}}">
                    <h2><div ng-bind-html="::team.title.rendered"></div></h2>
                    <span class="arrow"><img src="images/arrow.png"></span>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
