<ion-view class="roster">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-calendar-black.png">
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">Temporada 2017</h2>
    </div>
    <ion-content>
        <div class="list list-inset">
            <a href="#/app/roster" class="item item-thumbnail-left">
                <img src="images/list-varonil.png">
                <h2>Varonil Arena</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
        </div>
        <div class="list list-inset">
            <a href="#/app/roster-femenil" class="item item-thumbnail-left">
                <img src="images/list-femenil.png">
                <h2>Femenil Arena</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
        </div>
        <div class="list list-inset">
            <a href="#/app/roster-juvenil" class="item item-thumbnail-left">
                <img src="images/list-juvenil.png">
                <h2>Junior Arena</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
        </div>
        <div class="list list-inset">
            <a href="#/app/roster-master" class="item item-thumbnail-left">
                <img src="images/list-master.png">
                <h2>Master 11</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
        </div>
        <div class="list list-inset">
            <a href="#/app/roster-senior" class="item item-thumbnail-left">
                <img src="images/list-senior.png">
                <h2>Senior +35</h2>
                <span class="arrow"><img src="images/arrow.png"></span>
            </a>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
