<ion-view class="statistics">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-statistics-black.png">
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">Torneo 2017</h2>
    </div>
    <ion-content ng-controller="EstadisticasSeniorController as vm">
        <div ng-bind-html="vm.pageDetails.content.rendered"></div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
