<ion-view class="calendar">
    <div class="bar bar-header bar-inside">
        <h1 class="title"><img src="images/logo-small.png" class="logo-small"></h1>
        <img class="icon-section" src="images/icon-calendar-black.png">
    </div>
    <div class="bar bar-subheader">
        <h2 class="title">Torneo 2017</h2>
    </div>
    <ion-content ng-controller="CalendarioFemenilController as vm">
        <div ng-repeat="calendarItem in vm.calendar">
            <div class="list list-calendar">
                <a href="#/app/calendario-detalle/{{::calendarItem.id}}">
                    <div ng-bind-html="::calendarItem.title.rendered"></div>
                </a>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer">
    </div>
</ion-view>
